@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo:wght@300&family=Roboto&display=swap');

body {
    font-family: Roboto, sans-serif;
    background-color: #212529;
}
.page-content {
    position: fixed;
    top: 40px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y:scroll;
    background-color: #f8f9fa;
    border-bottom: 3px solid #212529;
    border-left: 3px solid #212529;
}

#hero-background {
    width: 100%;
}

h1 {
    font-size: 4rem;
    text-align: left;
    font-family: "Abril Fatface", Archivo, sans-serif;
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: "Abril Fatface", Archivo, sans-serif;
}

h5 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

#hero-content{
    max-width: 500px;
}

#info-section {
    margin: auto;
    max-width: 900px;
}

section {
    padding: 5px;
}

.content-holder {
    max-width: 1000px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 60px;
}

a {
    text-decoration: none;
    color: #f8f9fa;
}

.card-link {
    color: #212529;
    padding: 5px 10px 3px 10px;
    transition: 0.1s;
    margin: 0 0 10px
}
.card-link:hover {
    background-color: #212529;
    color: #f8f9fa;
}
.col {
    padding: 0 6px;
}
.card-body {
    padding: 10px;
}

.card {
    border: 0px;
    border-radius: 2px;
    background-color: transparent;
}

.card-img-top {
    border-radius: 0px;
    padding-bottom: 10px;
}

.project-card {
    background-color: #BCCCBA;
}

i {
    background-color: #f8f9fa;
    color: #212529;
    margin: 0 8px 0;
}

.d-block {
    margin: auto;
    border: 1px solid #212529;
}

footer {
    position: fixed;
    top: 4px;
    left: 10px;
    right: 10px;
    height: auto;
}

.text-start {
    margin: 0 0 10px;
}

.text-end {
    margin: 0 0 10px;
}

.text-center {
    color: 	#424242;
    border: 1px solid #BCCCBA;
    transition: 0.1s;
    border-radius: 2px;
}

.rankyour-link {
    background-color: #DF4759;
    color: #f8f9fa;
}

.rps-link {
    background-color: darkcyan;
    color: #f8f9fa;
}
.wordpuzzle-link {
    background-color: #DF4759;
    color: #f8f9fa;
}
.itachi-link {
    background-color: #6A5C73;
    color: #f8f9fa;
}

.text-center:hover {
    background-color: 	#424242;
    color:#f8f9fa;
}



/* Scrollbar style for Firefox */
* {
    scrollbar-color: #f8f9fa #212529;
    scrollbar-width: thin;
  }
  
  /* Scrollbar style for Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width:3px;
    visibility: hidden;
  }
  
  *::-webkit-scrollbar-track {
    visibility:visible;
    background-color: #212529;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #FF7070;
    width:2px;
    height:40px;
  }