@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Roboto&display=swap');

body {
    font-family: Roboto, sans-serif;
}

#hero-background {
    width: 100%;
    padding: 10px;
}

h1 {
    font-size: 4rem;
    text-align: left;
    font-family: Archivo, sans-serif;
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: Archivo, sans-serif;
}

h5 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

#hero-content{
    max-width: 500px;
}

#info-section {
    margin: auto;
    max-width: 900px;
}

section {
    padding: 5px;
}

.content-holder {
    max-width: 1000px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    filter: grayscale(30%);
}
.card:hover{
    filter: grayscale(0%);
}

a {
    color: #f8f9fa;
}

.card-link {
    color: black;
    background-color: #f8f9fa;
    padding:5px;
    transition: 0.1s;
    margin: 0 0 10px
}
.card-link:hover {
    background-color: black;
    color: #f8f9fa;
}
.col {
    padding: 0 6px;
}
.card-body {
    padding: 10px;
}

.card {
    border: 0px;
    border-radius: 0;
}

.card-img-top {
    border-radius: 0px;
    padding: 2px;
}