body {
    background-color: #343a40;
}

#hero-background {
    width: 100%;
    padding: 10px;
    text-align: center;
}

h1 {
    text-align: left;
}

#hero-content{
    max-width: 500px;
    margin: auto;

}

#info-section {
    margin: auto;
    max-width: 900px;
}

section {
    padding: 5px;
}

.content-holder {
    max-width: 900px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

.card-img-top {
    filter: grayscale(70%);
}
.card-img-top:hover{
    filter: grayscale(0%);
}

a {
    text-decoration: none;
    color: #f8f9fa;
}

.card-link {

    text-decoration: none;
    background-color: #17a2b8;
    padding: 0 5px 0 5px;
    transition: 0.2s;
}
.card-link:hover {
    text-decoration: none;
    background-color: #007bff;
}